<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1><%= @cocktail.name %></h1>
      <%= link_to 'Back', cocktails_path %>

      <ul>
        <% @cocktail.doses.each do |dose| %>
          <li>
            <%= dose.description %> of <%= link_to dose.ingredient.name, cocktail_path(dose.ingredient) %>
            (<%= link_to "delete", dose_path(@cocktail, dose), method: :delete %>)
          </li>
        <% end %>
      </ul>



      <%= simple_form_for [@cocktail, @dose] do |f| %>

        <%= f.input :description, placeholder: "2 teaspoons" %>
        <%= f.input :ingredient_id, collection: Ingredient.all, prompt: "Choose one" %>

        <%= f.submit "Add dose", class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>
<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
<%= cl_image_tag("qehws05xgbr7flbtfbqa",
      width: 400, height: 300, crop: :fill) %>


