<!DOCTYPE html>
<html>
<head>
  <title>RailsMisterCocktail</title>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Lora|Raleway" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="navbar-cocktail">

    <%= link_to cocktails_path do %>
    <%= image_tag 'cocktail_logo.png', class: "navbar-cocktail-brand" %>
    <% end %>

    <div class="text-center">
      <div class="navbar-center">
        <h2 class="cocktail-name">Mr.Cocktail</h2>
      </div>
    </div>

    <!-- Right Navigation -->
    <div class="navbar-cocktail-right hidden-xs hidden-sm">

      <a href="" class="navbar-cocktail-item navbar-cocktail-link">Cocktails</a>
      <a href="" class="navbar-cocktail-item navbar-cocktail-link">Recipes</a>
      <a href="" class="navbar-cocktail-item navbar-cocktail-link">Forum</a>


      <!-- Dropdown appearing on mobile only -->
      <div class="navbar-cocktail-item hidden-md hidden-lg">
        <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-cocktail-dropdown-menu">
            <li><a href="#">Cocktails</a></li>
            <li><a href="#">Recipes</a></li>
            <li><a href="#">Forum</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <%= yield %>
  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fa fa-github"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      Visit us with good spirits in <i class="fa fa-heart"></i> and hand
    </div>
  </div>
</body>
</html>
